<launch>

	<arg name="teleop" default="True"/>
	<arg name="Gazebo" default="True" />
	<arg name ="slam_toolbox" default="True" />

	<group if="$(arg teleop)">
		<node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard" output="screen"></node>

	</group>

	<group if="$(arg slam_toolbox)">
		<node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
			<rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_online_sync.yaml" />
		</node>
	</group>

	<group if="$(arg Gazebo)">
		<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
	</group>

	<!-- <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" /> -->
	<include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
		<arg name="slam_methods" value="gmapping"/>
	</include>
	
	

</launch>
